header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .menu {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
}

header .menu a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #1f2626;
  transition: color 0.5s ease;
}

header .menu a:hover {
  color: #ccc;
}

.menu-esquerda,
.menu-direita {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 1080px) {
  header .menu {
    padding: 0 50px;
  }

  header .menu a {
    font-size: 18px;
  }
}
