<section>
  <div class="main-content">
    <span>Software Developer</span>
    <h1>Brena Oliveira</h1>
    <p>
      Desenvolvedora fullstack, formada em Análise e Desenvolvimento de Sistemas, com experiência na construção de APIs e aplicações web, focada em criar soluções eficientes e interfaces intuitivas.
    </p>
    <btn-primary
      text="Baixar Currículo"
      (click)="downloadCurriculo()"
    ></btn-primary>
  </div>
  <div>
    <img class="imagem" src="./assets/imagem-main.png" priority />
  </div>
</section>
