section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

section .main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  margin-top: -40px;
}

section .main-content span {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #151717;
}

section .main-content h1 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 40px;
  background: linear-gradient(
    90deg,
    rgba(82, 34, 208, 1) 0%,
    rgba(255, 97, 150, 1) 100%
  );
  color: transparent;
  background-size: 150% 170%;
  background-clip: text;
  background-position: left center;
  display: inline-block;
  transition: background-position 0.5s ease;
}

section .main-content h1:hover {
  background-position: right center;
}

section .main-content p {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #1f2626;
  padding: 20px 0;
  text-align: center;
}

.imagem {
  width: 400px;
}

@media (min-width: 1080px) {
  section {
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-top: 50px;
  }

  section .main-content {
    align-items: flex-start;
  }

  section .main-content h1 {
    font-size: 56px;
  }

  section .main-content p {
    font-size: 24px;
    text-align: left;
  }

  .imagem {
    width: 600px;
    transition: filter 0.5s ease;
  }

  .imagem:hover {
    filter: grayscale(1);
  }
}
