section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-top: -70px;

  .main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-top: -20px;

    span {
      text-transform: uppercase;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      color: #151717;
    }

    h1 {
      font-family: "Montserrat", sans-serif;
      margin: 0;
      font-weight: 600;
      font-size: 40px;
      background: linear-gradient(
        90deg,
        rgba(82, 34, 208, 1) 0%,
        rgba(255, 97, 150, 1) 100%
      );
      color: transparent;
      background-size: 150% 170%;
      background-clip: text;
      background-position: left center;
      display: inline-block;
      transition: background-position 0.5s ease;
    }

    h1:hover {
      background-position: right center;
    }

    p {
      font-family: sans-serif;
      font-weight: 200;
      color: #1f2626;
      padding: 20px 0;
      text-align: center;
    }
  }
}

.imagem {
  width: 370px;
}

@media (min-width: 1080px) {
  section {
    flex-direction: row;
    justify-content: center;
    margin-top:0px;

    .main-content {
      align-items: flex-start;
      max-width: 50%;
      margin-right: 100px;


      h1 {
        font-size: 56px;
      }

      p {
        text-align: left;
      }
    }
  }

  .imagem {
    width: 600px;
  }
}
