.corpo {
  padding: 0 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 60px;
}

@media (min-width: 1080px) {
  .corpo {
    padding: 0 150px;
    gap: 120px;
  }
}
