<h1 class="titulo">Sobre mim</h1>
<section>
  <div class="sobre">
    <p>
      Sou uma desenvolvedora em formação que encontrou na tecnologia um espaço
      para unir lógica, criatividade e propósito. Ao longo da minha jornada,
      venho me aprofundando em desenvolvimento fullstack, com foco especial em
      Java, Angular, TypeScript, HTML, CSS e JavaScript.
      <br />
      <br />
      Gosto de criar experiências intuitivas, interfaces bem construídas e
      aplicações que funcionam de forma fluida e organizada. No dia a dia, busco
      escrever códigos limpos, aprender novas ferramentas e entender cada vez
      mais como todas as partes de um sistema se conectam.
      <br />
      <br />
      Sou motivada por desafios, por evoluir a cada projeto e por transformar
      ideias em soluções reais. Estou sempre buscando aprender algo novo,
      melhorar minhas habilidades e construir uma trajetória sólida no
      desenvolvimento de software.
    </p>
  </div>
</section>
