section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section .sobre {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

section .sobre p {
  border-left: solid 3px #5423cf;
  padding-left: 10px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

@media (min-width: 1080px) {
  section .sobre p {
    font-size: 24px;
  }
}
