<h1 class="titulo">Sobre mim</h1>
<section>
  <div class="sobre">
    <p>
      Sou desenvolvedora fullstack com experiência na construção de aplicações web e APIs,
      unindo lógica, criatividade e organização para criar soluções eficientes. Ao longo da minha jornada,
      venho me aprofundando em tecnologias como Java, Angular, TypeScript, HTML, CSS e JavaScript.
      <br />
      <br />
     Tenho interesse em desenvolver interfaces intuitivas e aplicações bem estruturadas,
     buscando sempre escrever códigos limpos,
     aplicar boas práticas e entender como as diferentes camadas de um sistema se conectam.
      <br />
      <br />
      Sou motivada por desafios e aprendizado contínuo, buscando evoluir a cada projeto e transformar
      ideias em soluções reais, com foco na construção de uma trajetória sólida no desenvolvimento de software.
    </p>
  </div>
</section>
