* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
}

.titulo {
  margin-left: calc(-50vw + 50%);
  padding: 20px;
  width: 100%;
  max-width: 100vw;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #151717;
  font-size: 24px;
  margin-bottom: 30px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (min-width: 1080px) {
  .titulo {
    margin-left: calc(-50vw + 50%);
    padding-left: 150px;
    font-size: 36px;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swapv");
