<h1 class="titulo" id="contato">Contatos</h1>
<section>
  <div class="corpo-contato">
    <div class="icones-contato">
      <a href="mailto:oliveirabrena365@gmail.com">
        <img src="./assets/gmail.png" alt="Gmail" class="icon-img" />
      </a>

      <a href="https://www.linkedin.com/in/brena-alves/" target="_blank">
        <img src="./assets/linkedin.png" alt="LinkedIn" class="icon-img" />
      </a>

      <a href="https://github.com/brenaolive" target="_blank">
        <img src="./assets/github.png" alt="GitHub" class="icon-img" />
      </a>
    </div>
  </div>
</section>
