footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(82, 34, 208, 1) 0%,
    rgba(255, 97, 150, 1) 100%
  );
  height: 60px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  width: 100%;
}

footer a {
  display: inline;
  background-color: transparent;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1080px) {
  footer {
    font-size: 18px;
    height: 100px;
  }

  footer a {
    font-size: 18px;
  }
}
